<div class="row" style="margin-right: 20px;">
	<div class="col m1 s1"></div>
	<div class="col m5 s5 card"> 
		<br>
		<a href="#">Editar <i class="fa fa-pencil"></i></a>
		<div class="card-title grey-text" align="center">John Doe</div>
		<div class="card-body grey-text">
			<div class="userView" align="center">
			      <%= image_tag('logos/user.JPG', alt: 'Back PescApp', class: 'circle user-image')%>
			      <br>
			      <span class="grey-text email"><%= current_user.email %></span><br>
			      <%= image_tag('stars.png', alt: 'stars', class: '')%>
			      
			</div>
			<table class="table">
				<tr>
					<td>En PescApp desde:</td>
					<td><%= l(current_user.created_at, format: '%d-%m-%Y %H:%M:%S') %></td>
				</tr>
				<tr>
					<td>Lugar de pesca preferido</td>
					<td>Lago Colbún, Talca</td>
				</tr>
				<tr>
					<td>Ultima pesca:</td>
					<td>San Antonio</td>
				</tr>
				<tr>
					<td>Número de publicaciones</td>
					<td>290</td>
				</tr>
				
			</table>
		</div>
	</div>  
	<div class="col m1 s1"></div> 
	<div class="col m5 s5 card"> 
		<br>
		<div class="card-title">Configuración</div>
		<div class="card-body">
		<br>
		<!-- Switch -->
		  <div class="switch">
		  	Configuración 1: &nbsp;&nbsp;
		    <label>
		      Off
		      <input type="checkbox">
		      <span class="lever"></span>
		      On
		    </label>
		  </div>
			<br>
			<!-- Switch -->
		  <div class="switch">
		  	Configuración 2: &nbsp;&nbsp;
		    <label>
		      Off
		      <input type="checkbox">
		      <span class="lever"></span>
		      On
		    </label>
		  </div>
			<br>
			<!-- Switch -->
		  <div class="switch">
		  	Configuración 3: &nbsp;&nbsp;
		    <label>
		      Off
		      <input type="checkbox">
		      <span class="lever"></span>
		      On
		    </label>
		  </div>
			<br>
			<!-- Switch -->
		  <div class="switch">
		  	Configuración 4: &nbsp;&nbsp;
		    <label>
		      Off
		      <input type="checkbox">
		      <span class="lever"></span>
		      On
		    </label>
		  </div>
			<br>
			<!-- Switch -->
		  <div class="switch">
		  	Configuración 5: &nbsp;&nbsp;
		    <label>
		      Off
		      <input type="checkbox">
		      <span class="lever"></span>
		      On
		    </label>
		  </div>
			<br>
			<!-- Switch -->
		  <div class="switch">
		  	Configuración 6: &nbsp;&nbsp;
		    <label>
		      Off
		      <input type="checkbox">
		      <span class="lever"></span>
		      On
		    </label>
		  </div>
		  <br>
		</div>
	</div>

</div>
