<div class="row">
	<div class="col m4 s1"></div>  
	<div class="col m4 s10 card"> 
		<br>
		<div class="card-title">Configuración</div>
		<div class="card-body">
		<br>
		<!-- Switch -->
		  <div class="switch">
		  	Configuración 1: &nbsp;&nbsp;
		    <label>
		      Off
		      <input type="checkbox">
		      <span class="lever"></span>
		      On
		    </label>
		  </div>
			<br>
			<!-- Switch -->
		  <div class="switch">
		  	Configuración 2: &nbsp;&nbsp;
		    <label>
		      Off
		      <input type="checkbox">
		      <span class="lever"></span>
		      On
		    </label>
		  </div>
			<br>
			<!-- Switch -->
		  <div class="switch">
		  	Configuración 3: &nbsp;&nbsp;
		    <label>
		      Off
		      <input type="checkbox">
		      <span class="lever"></span>
		      On
		    </label>
		  </div>
			<br>
			<!-- Switch -->
		  <div class="switch">
		  	Configuración 4: &nbsp;&nbsp;
		    <label>
		      Off
		      <input type="checkbox">
		      <span class="lever"></span>
		      On
		    </label>
		  </div>
			<br>
			<!-- Switch -->
		  <div class="switch">
		  	Configuración 5: &nbsp;&nbsp;
		    <label>
		      Off
		      <input type="checkbox">
		      <span class="lever"></span>
		      On
		    </label>
		  </div>
			<br>
			<!-- Switch -->
		  <div class="switch">
		  	Configuración 6: &nbsp;&nbsp;
		    <label>
		      Off
		      <input type="checkbox">
		      <span class="lever"></span>
		      On
		    </label>
		  </div>
		  <br>
		</div>
	</div>
	<br>
	<div class="col m4 s1"></div> 
</div>
