<div class="row">
	<div class="col m4 s1"></div>  
	<div class="col m4 s10 card"> 
		<br>
		<div class="card-title">Ayuda</div>
		<div class="card-body">
		</div>
	</div>
	<br>
	<div class="col m4 s1"></div> 
</div>
