<div class="container-fluid">
	<h2>PescApp</h2>
	   <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>

	<div id="map"></div>
	 <script>
      function initMap() {
		  var myLatLng = {lat: -33.5960234, lng: -71.6095457};
		  map = new google.maps.Map(document.getElementById('map'), {
		    zoom: 14,
		    center: myLatLng
		  });
		  getLocation();
		  infoWindow = new google.maps.InfoWindow();
		     poly= new google.maps.Polyline({
		      strokeColor: '#FFFF00',
		      strokeOpacity: 1.0,
		      strokeWeight: 3
		      });
		      poly.setMap(map);
		}
		function getLocation() {
		  if (navigator.geolocation) {
		    navigator.geolocation.getCurrentPosition(showPosition);
		  } else {
		    alert("Geolocation is not supported by this browser.");
		  }
		}

		function showPosition(position) {
		  var lat = position.coords.latitude;
		  var lng = position.coords.longitude;
		  map.setCenter(new google.maps.LatLng(lat, lng));
		    var posIni=new google.maps.LatLng(lat,lng);
		    var iconBase = 'https://maps.google.com/mapfiles/kml/pal2/';
		    var iconBase = 'http://maps.google.com/mapfiles/kml/shapes/';
		    var fisher = 'http://maps.google.com/mapfiles/kml/paddle/P.png';

		    posInicial = new google.maps.Marker(
		    {
		      map:map,
		      //draggable:true,
		      animation: google.maps.Animation.DROP,
		      position: posIni,
		      icon: fisher
		    });
		    google.maps.event.addListener(posInicial, 'dragend', function() 
		    {
		      posInicial = posInicial
		          // Quitar comentario para mirar posición
		          //alertify.success(markers[len][2].getPosition().toString());
		        });
		}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbkQo7IprC4YOt24h_a_mOPPorZOvQRIg&callback=initMap">
    </script>

</div>