<div class="row">
	<div class="col m1 s1"></div>  
	<div class="col m10 s10 card"> 
		<br>
		<div class="card-title">Información</div>
			<p>En estos apartados podrás encontrar tutoriales y artículos para pescadores principiantes y avanzados que desean aprender a pescar o a reforzar sus conocimientos y técnicas de pesca.</p>
			<p><strong>Nudos</strong></p>
			<ul>
			<li><a title="El Primer Nudo de Pesca que Debes Aprender" target="_blank" href="http://www.gozalapesca.com/el-primer-nudo-de-pesca-que-debes-aprender/">El Primer Nudo de Pesca que Debes Aprender</a>
			<ul>
			<li>Nudos de Pesca
			<ul>
			<li><a title="Nudo Palomar de Pesca" target="_blank" href="http://www.gozalapesca.com/nudo-palomar-para-pesca/">Nudo Palomar</a></li>
			<li><a title="Nudo Clinch Mejorado" target="_blank" href="http://www.gozalapesca.com/nudo-clinch-mejorado/">Nudo Clinch</a></li>
			<li><a title="¿Cómo hacer el Nudo de Pesca Trilene?" target="_blank" href="http://www.gozalapesca.com/nudo-de-pesca-trilene/">Nudo Trilene</a></li>
			<li><a target="_blank" href="http://www.gozalapesca.com/nudo-rapala/">Nudo Rápala</a></li>
			<li><a target="_blank" href="http://www.gozalapesca.com/nudo-de-pesca-duncan/">Nudo Duncan</a></li>
			<li><a target="_blank" href="http://www.gozalapesca.com/nudo-snell-estandar/">Nudo Snell Estandar</a></li>
			</ul>
			</li>
			</ul>
			</li>
			<li><a title="10 Nudos de Pesca que Todo pescador debe Saber" target="_blank" href="http://www.gozalapesca.com/10-nudos-de-pesca-que-todo-pescador-debe-aprender/">10 Nudos Que Todo Pescador Debe Saber</a></li>
			<li><a target="_blank" href="http://www.gozalapesca.com/nudos-para-lineas-fluorocarbono/">Nudos para Atar Líneas de Fluorocarbono</a></li>
			</ul>
			<p><strong>Aparejos de Pesca</strong></p>
			<ul>
			<li><a title="Cómo Poner un Hilo al Carrete de Spinning | Video Tutoriales" target="_blank" href="http://www.gozalapesca.com/pesca-para-principiantes/como-poner-un-hilo-al-carrete-video-tutoriales/" target="_blank">Cómo Poner Hilo al Carrete</a></li>
			<li><a title="¿Cómo Atar una Línea a un Anzuelo?" target="_blank" href="http://www.gozalapesca.com/pesca-para-principiantes/como-atar-una-linea-a-un-anzuelo/" target="_blank">Cómo Atar el Hilo al Anzuelo</a></li>
			<li><a title="¿Cuando usar Quitavueltas para Pescar?" target="_blank" href="http://www.gozalapesca.com/cuando-usar-quitavueltas-de-pesca/">Cuando Usar Quitavueltas</a></li>
			<li><a title="Swivel (Sacavueltas) y Snaps, ¿para qué sirven?" target="_blank" href="http://www.gozalapesca.com/swivel-y-snaps-para-que-sirven/">Para qué Sirven los Quitavueltas Y Snaps (Broches)</a></li>
			</ul>
			<p><strong>Señuelos</strong></p>
			<ul>
			<li><a title="Señuelos de Hélice (Torpedos o Propellers)" target="_blank" href="http://www.gozalapesca.com/senuelos-de-helice-torpedos/">Técnicas de Pesca con Señuelos de Hélice (Torpedos o Propellers)</a></li>
			<li><a title="¿Cómo y cuando pescar con Popper Fish?" target="_blank" href="http://www.gozalapesca.com/como-y-cuando-pescar-con-popper-fish/">¿Cómo y cuándo pescar con Popper?</a></li>
			<li><a target="_blank" href="http://www.gozalapesca.com/jerkbaits/">¿Qué son los Jerkbaits?</a></li>
			<li><a target="_blank" href="http://www.gozalapesca.com/colores-de-senuelos-que-esto-no-lo-sabias/">Los Peces Ven Colores ¿Qué colores de señuelos utilizar?</a></li>
			</ul>
			<p><strong>Caña de Pescar</strong></p>
			<ul>
			<li><a title="Cómo lanzar y agarrar una caña de Pescar de Spinning" target="_blank" href="http://www.gozalapesca.com/como-lanzar-y-agarrar-una-cana-de-pescar-de-spinning/">Cómo Agarrar y Lanzar una Caña de Spinning Correctamente</a></li>
			<li><a target="_blank" href="http://www.gozalapesca.com/escoger-una-cana-de-pescar-guia-para-principiantes/">¿Cómo Elegir unar una Caña de Pescar? &#8211; Guía de Compra para Principiantes</a></li>
			<li><a target="_blank" href="http://www.gozalapesca.com/canas-de-pescar-para-ninos-como-elegir-la-correcta/">Cañas de Pescar para Niños &#8211; ¿Cómo Elegir la Correcta?</a></li>
			</ul>
			<p><strong>Carretes de Pesca</strong></p>
			<ul>
			<li><a title="Guía para Elegir el Reel de Pesca Adecuado" target="_blank" href="http://www.gozalapesca.com/reel-de-pesca-adecuado-para-pesca-de-bass-tomando-la-decision-correcta/">Guía para Elegir un Carrete</a></li>
			<li><a title="Especificaciones de un Carrete de Pesca, No te Intimides" target="_blank" href="http://www.gozalapesca.com/especificaciones-de-un-carrete-de-pesca-te-intimides/">Especificaciones de un Carrete de Pesca</a></li>
			<li><a target="_blank" href="http://www.gozalapesca.com/como-saber-si-un-carrete-de-pesca-es-bueno/">¿Cómo Saber si un Carrete de Pesca es Bueno?</a></li>
			</ul>
			<p><strong>Uso de Accesorios de Pesca</strong></p>
			<ul>
			<li><a target="_blank" href="http://www.gozalapesca.com/lentes-para-pescar-2014/">Lentes para Pescar &#8211; Lo que Debes Saber</a></li>
			<li><a target="_blank" href="http://www.gozalapesca.com/lentes-para-pescar-en-dias-nublados-u-oscuros/">Lentes para Pescar en Días Nublados o Lluviosos</a></li>
			</ul>
			<p><strong>Manual de Pesca</strong></p>
			<ul>
			<li><a target="_blank" href="http://www.gozalapesca.com/manual-pesca-principiantes/">Manual de Pesca para Pescadores (Guía del Pescador de Fin de Semana)</a></li>
			</ul>

		<div class="card-body">
		</div>
	</div>
	<br>
	<div class="col m1 s1"></div> 
</div>
