<div class="container">		
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"> ¿Cómo funciona? </div>
		</div>
		<div class="panel-body">
			<div style="height:600px;background:#ddd;color:white;text-align:center;line-height:400px;"><%= image_tag('notices/4.jpg', alt: 'Home', class: 'home')%></div></div>
			<hr>
			<p> </p>
		</div>
	</div>
	<div class="container">
		<div class="card">
			<div class="panel-heading">
				<div class="card-title">Precios</div>
			</div>
			<div class="panel-body">
				
				<div class="row">
					<div class="col-sm-4 text-center">
						<h4>Personas naturales</h4>
						<div style="height:120px;width:120px;border-radius:120px;background:#ddd;display:inline-block;">Gratuita y servicio de publicidad con cargo adicional</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quo minima nulla non, iure atque, dicta consequatur veniam nostrum.</p>	
					</div>
					<div class="col-sm-4 text-center">
						<h4>Tiendas deportivas</h4>
						<div style="height:120px;width:120px;border-radius:120px;background:#ddd;display:inline-block;"> Servicio de publicidad con cargo adicional</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quo minima nulla non, iure atque, dicta consequatur veniam nostrum.</p>						
					</div>
					<div class="col-sm-4 text-center">
						<h4>Clubes de pesca</h4>
						<div style="height:120px;width:120px;border-radius:120px;background:#ddd;display:inline-block;">Servicio de publicidad con cargo adicional</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quo minima nulla non, iure atque, dicta consequatur veniam nostrum.</p>						
					</div>
				</div>
			</div>
		</div>
	</div>

</div>