<div class="container">		
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">How it works</div>
		</div>
		<div class="panel-body">
			<div style="height:400px;background:#ddd;color:white;text-align:center;line-height:400px;">Some stuff</div>
			<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem assumenda eos tempora totam, quod alias iste modi a tenetur rerum dicta laudantium aliquam nulla veniam, vitae inventore ad hic necessitatibus!</p>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">Pricing</div>
		</div>
		<div class="panel-body">
			
			<div class="row">
				<div class="col-sm-4 text-center">
					<div style="height:120px;width:120px;border-radius:120px;background:#ddd;display:inline-block;"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quo minima nulla non, iure atque, dicta consequatur veniam nostrum.</p>	
				</div>
				<div class="col-sm-4 text-center">
					<div style="height:120px;width:120px;border-radius:120px;background:#ddd;display:inline-block;"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quo minima nulla non, iure atque, dicta consequatur veniam nostrum.</p>						
				</div>
				<div class="col-sm-4 text-center">
					<div style="height:120px;width:120px;border-radius:120px;background:#ddd;display:inline-block;"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quo minima nulla non, iure atque, dicta consequatur veniam nostrum.</p>						
				</div>
			</div>
		</div>
	</div>

</div>