<div class="row">
	<div class="col m4 s1"></div>  
	<div class="col m4 s10 card"> 
		<br>
		<div class="card-title">¿Quiénes somos?</div>

		<div class="card-body">


			Nuestra misión es entregar soluciones efectivas y eficaces a las distintas 
			comunidades, aplicando conocimientos y tecnología de la informática a 
			problemáticas actuales, entregando soluciones innovadoras y mejorando
			el diario vivir de las personas con nuestras soluciones de alta calidad.

			Nuestra visión es posicionarnos como una de las empresas de mayor 
			renombre en el área de aplicabilidad de tecnología en pos de la comunidad 
			chilena, y mantenerse en la vanguardia de la industria tecnológica.
			
			<br><br>
		</div>
	</div>
	<br>
	<div class="col m4 s1"></div> 
</div>
