<div class="container">
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">Terms of use and conditions</div>
		</div>
		<div class="panel-body">
			<h3>Some title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, dicta magni aperiam cupiditate libero nisi dolore nostrum suscipit repellendus consequatur doloribus laboriosam nesciunt sequi neque impedit praesentium cumque, facere perferendis.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi illo quo sint enim rerum laboriosam dolores aliquam perspiciatis ullam! Recusandae, officia autem assumenda excepturi sunt quisquam ab accusantium aspernatur corporis.</p>
			<hr>
			<h4>Article #</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea tempore quasi iusto alias ipsam cupiditate ex nihil vitae nam in, officiis reprehenderit magni nobis mollitia expedita omnis dolore. Expedita, eius.</p>
			<h4>Article #</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea tempore quasi iusto alias ipsam cupiditate ex nihil vitae nam in, officiis reprehenderit magni nobis mollitia expedita omnis dolore. Expedita, eius.</p>
			<h4>Article #</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea tempore quasi iusto alias ipsam cupiditate ex nihil vitae nam in, officiis reprehenderit magni nobis mollitia expedita omnis dolore. Expedita, eius.</p>
			<h4>Article #</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea tempore quasi iusto alias ipsam cupiditate ex nihil vitae nam in, officiis reprehenderit magni nobis mollitia expedita omnis dolore. Expedita, eius.</p>
		</div>
	</div>
</div>