<div class="container">
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"> Soporte </div>
		</div>
		<div class="panel-body">
			<h3> Soporte de PescApp</h3>
			<p> Por favor, contacta con soporte@pescapp.cl. </p>
			<hr>
			<h4> Contactar a PescApp </h4>
			<p> Por favor, contacta con nuestro soporte técnico </p>
			<h4> Preguntas Frecuentes </h4>
			<p> </p>
			<h4> Términos y condiciones </h4>
			<p> </p>
			<h4> Política de privacidad</h4>
			<p> </p>
		</div>
	</div>
</div>