<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>PescApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	  <nav>
	    <div class="container nav-wrapper">
	      <a href="#" class="brand-logo"><%= link_to root_path, :class => "navbar-brand" do %>PescApp<% end %></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><%= link_to root_path do %> <i class="fa fa-home"></i> Inicio <% end %></li>
			<li><%= link_to site_how_path do %> <i class="fa fa-info"></i> ¿Cómo funciona? <% end %></li>
			<li><%= link_to new_user_session_path do %> <i class="fa fa-sign-in"></i> Registrarse <% end %></li>
	      </ul>
	    </div>
	  </nav>
	<section id="body">
		<%= yield %>
	</section>
			<section id="footer-ghost"></section>
			<footer>
				<div class="container">
					<hr>
					<div class="row">
						<div class="col-sm-6">
							<%= link_to "¿Cómo funciona?", site_how_path %> •
							<%= link_to "Soporte", site_terms_path %>
						</div>
						<div class="col-sm-6 text-right">Ruby on Rails 4.2.5 boilerplate, 2016</div>
					</div>
				</div>
			</footer>
	</body>
</html>
