<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>PescApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body class="blue-grey lighten-2">
	  <nav>
	    <div class="container nav-wrapper">
	      <a href="#"><%= link_to root_path do %><%= image_tag('logos/logo2.png', alt: 'Logo PescApp', class: 'logo-pescapp')%><% end %></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><%= link_to root_path do %> <i class="fa fa-home"></i> Inicio <% end %></li>
	        <li><a href="/team"><i class="fa fa-users"></i> ¿Quienes somos?</a></li>
			<li><%= link_to site_how_path do %> <i class="fa fa-info"></i> ¿Cómo funciona? <% end %></li>
			<li><%= link_to new_user_session_path do %> <i class="fa fa-sign-in"></i> Registrarse <% end %></li>
	      </ul>
	    </div>
	  </nav>
	<section id="body" class="indigo lighten-4">
		<%= yield %>
	</section>
	<div  class="blue-grey lighten-2 white-text" >
		
			<section id="footer-ghost"></section>
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-sm-6" class="footer-links">
							<%= link_to "¿Cómo funciona?", site_how_path, style: "color: #fff;" %> •
							<%= link_to "Soporte", site_terms_path, style: "color: #fff;" %>
						</div>
						<div class="col-sm-6 text-right">Vamos CLP, 2017</div>
					</div>
				</div>
			</footer>
	</div>
	</body>
</html>
